<!DOCTYPE html>
<html>
    <head>
        <title>Boilerplate Server Code</title>
        <link rel='stylesheet' type='text/css' href='/css/index.css'>
    </head>
    <body>
        <%-body%>
    </body>
</html>